// Bacground color and animation color

$bg: #222;
$cc: #fff;

// NUmber of dots

$n-dots: 12;

// Diameter of ring and dots
$d-dots: 30px;
$d-ring: 300px;

// Ring thickness

$rt: $d-dots * 0.5;

// Base angle

$ba: 360deg / $n-dots;
